﻿@model Agenda.Models.Cita

@{
    ViewData["Title"] = "Crear cita";
}

<h1>Crear cita</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClienteID" class="control-label"></label>
                <select asp-for="ClienteID" class="form-control" asp-items="ViewBag.Cliente"></select>
            </div>
            <div class="form-group">
                <label asp-for="PsiquiatraID" class="control-label"></label>
                <select asp-for="PsiquiatraID" class="form-control" asp-items="ViewBag.Psiquiatra"></select>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Cita" class="control-label"></label>
                <input asp-for="Fecha_Cita" type="date" class="form-control" />
                <span asp-validation-for="Fecha_Cita" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Inicio" class="control-label"></label>
                <input asp-for="Fecha_Inicio" type="time" class="form-control" />
                <span asp-validation-for="Fecha_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Fin" class="control-label"></label>
                <input asp-for="Fecha_Fin" type="time" class="form-control" />
                <span asp-validation-for="Fecha_Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" class="form-control" />
                <span asp-validation-for="Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoPagoID" class="control-label"></label>
                <select asp-for="TipoPagoID" class="form-control" asp-items="ViewBag.TipoPagoID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Coste" class="control-label"></label>
                <input asp-for="Coste" class="form-control" />
                <span asp-validation-for="Coste" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Pago" /> @Html.DisplayNameFor(model => model.Pago)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
