﻿@model Agenda.Models.Cita

@{
    ViewData["Title"] = "Borrar cita";
}

<h1>Borrar cita</h1>

<h3>Esta seguro que desea borrar esto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NombreCompleto)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Psiquiatra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Psiquiatra.NombreCompleto)
        </dd class>h
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoPago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoPago.Descripcion)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coste)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Coste)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pago)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pago)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CitaID" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Lista</a>
    </form>
</div>
