﻿@model IEnumerable<Agenda.Models.Cita>

@{
    ViewData["Title"] = "Lista de citas";
}

<h1>Lista de citas</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear cita</a>
</p>

<table id="citaTable" class="table table-hover table-sm table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Psiquiatra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Cita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coste)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Psiquiatra.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Cita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Inicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Fin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoPago.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Coste)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CitaID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.CitaID">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.CitaID">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Datatable *@

<!-- DataTable CDN -->
@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#citaTable").DataTable();
        });
    </script>
}
