﻿@model IEnumerable<Agenda.Models.TipoPago>

@{
    ViewData["Title"] = "Lista de tipos de pagos";
}

<h1>Lista de tipos de pagos</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear tipo de pago</a>
</p>
<table id="tipoPagoTable" class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.TipoPagoID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TipoPagoID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TipoPagoID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Datatable *@

<!-- DataTable CDN -->
@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#tipoPagoTable").DataTable();
        });
    </script>
}
