﻿@model IEnumerable<Agenda.Models.Psiquiatra>

@{
    ViewData["Title"] = "Lista de psiquiatras";
}

<h1>Lista de psiquiatras</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary">Crear psiquiatra</a>
</p>
<table id="psiquiatraTable" class="table table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.PsiquiatraID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PsiquiatraID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PsiquiatraID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@* Datatable *@

<!-- DataTable CDN -->
@section scripts{
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script>
        $(document).ready(function () {
            $("#psiquiatraTable").DataTable();
        });
    </script>
}
