﻿@{
    ViewData["Title"] = "Home Page";
}

<h2>Calendario</h2>

<div id="calendar"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center"><span id="eventTitle"></span></h3>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <p id="pDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];

            $.ajax({
                type: "GET",
                url: "/home/GetEvents",
                success: function (data) {
                    $.each(data, function (i, v) {
                        let initDate = moment(v.fecha_Cita).format('YYYY-MM-DD');
                        let initTime = moment(v.fecha_Inicio).format('HH:mm:ss');
                        let endTime = moment(v.fecha_Fin).format('HH:mm:ss');

                        let datetimeA = moment(initDate + " " + initTime);
                        let datetimeB = moment(initDate + " " + endTime);

                        events.push({
                            title: "Cita",
                            cliente: v.cliente,
                            psiquiatra: v.psiquiatra,
                            fecha: moment(v.fecha_Cita),
                            start: moment(datetimeA.format()),
                            end: moment(datetimeB.format()),
                            description: v.descripcion,
                            pago: v.pago,
                        });
                    });
                    GenerateCalendar(events);
                },
                error: function (error) {
                    alert('failed');
                },
            });

            function GenerateCalendar (events) {
                $('#calendar').fullCalendar('destroy');
                $('#calendar').fullCalendar({
                    defaultDate: new Date(),
                    timeFormat: 'h:mm A',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,agenda',
                    },
                    buttonText: {
                        today: 'Hoy',
                        month: 'Mes',
                        week: 'Semana',
                        agenda: 'Agenda',
                    },
                    eventLimit: true,
                    eventColor: '#089600',
                    events: events,
                    eventClick: function (calEvent, jsEvent, view) {
                        $('#myModal #eventTitle').text(calEvent.title);
                        var $description = $('<div/>');
                        $description.append($('<p/>').html('<b>Psiquiatra: </b>' + calEvent.psiquiatra));
                        $description.append($('<p/>').html('<b>Cliente: </b>' + calEvent.cliente));
                        $description.append($('<p/>').html('<b>Fecha: </b>' + calEvent.fecha.format("DD-MMM-YYYY")));
                        $description.append($('<p/>').html('<b>Desde: </b>' + calEvent.start.format("HH:mm a")));
                        $description.append($('<p/>').html('<b>Hasta: </b>' + calEvent.end.format("HH:mm a")));
                        $description.append($('<p/>').html('<b>Pagó: </b>' + calEvent.pago));
                        if (calEvent.description != null) {
                            $description.append($('<p/>').html('<b>Descripcion: </b>' + calEvent.description));
                        }
                        else {
                            $description.append($('<p/>').html('<b>Descripcion: </b>Ninguna'));
                        }
                       
                        $('#myModal #pDetails').empty().html($description);
 
                        $('#myModal').modal();
                    },
                });
            };

        });
    </script>
}